vh-datafactory-dev/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "vh-datafactory-dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Child_StageAppInsightsError')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stage AppInsightsError",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"additionalColumns": [
									{
										"name": "FileName",
										"value": "$$FILEPATH"
									},
									{
										"name": "RunDate",
										"value": {
											"value": "@variables('RunDate')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"modifiedDatetimeStart": {
										"value": "@pipeline().parameters.DeltaDateTime",
										"type": "Expression"
									},
									"wildcardFolderPath": "AppInsightsError",
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['problemId']"
										},
										"sink": {
											"name": "ProblemId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['total_exceptions']"
										},
										"sink": {
											"name": "TotalExceptions",
											"type": "Byte"
										}
									},
									{
										"source": {
											"path": "$['FileName']"
										},
										"sink": {
											"name": "FileName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['RunDate']"
										},
										"sink": {
											"name": "RunDate",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['value']"
							}
						},
						"inputs": [
							{
								"referenceName": "JsonAppInsightsError",
								"type": "DatasetReference",
								"parameters": {
									"Container": {
										"value": "@pipeline().parameters.Container",
										"type": "Expression"
									},
									"Folder": {
										"value": "@pipeline().parameters.Folder",
										"type": "Expression"
									},
									"FileName": {
										"value": "@pipeline().parameters.FileName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "AsqlTarget",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "stg",
									"TableName": "AppInsightsError"
								}
							}
						]
					},
					{
						"name": "Truncate Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set RunDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[stg].[sp_TruncateStagingTable]",
							"storedProcedureParameters": {
								"tableName": {
									"value": {
										"value": "@pipeline().parameters.TableName",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "vhreporting_link",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "LoadTarget",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Stage AppInsightsError",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.ProcedureName",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "vhreporting_link",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Set RunDate",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "RunDate",
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Container": {
						"type": "string",
						"defaultValue": "vhreporting"
					},
					"Folder": {
						"type": "string",
						"defaultValue": "AppInsightsError"
					},
					"FileName": {
						"type": "string",
						"defaultValue": "2022-03-16T22%3A00%3A00.0000000"
					},
					"DeltaDateTime": {
						"type": "string",
						"defaultValue": "03/15/2022 00:00:00"
					},
					"TableName": {
						"type": "string",
						"defaultValue": "AppInsightsError"
					},
					"ProcedureName": {
						"type": "string",
						"defaultValue": "sp_LoadAppInsightsError"
					}
				},
				"variables": {
					"RunDate": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-12-13T14:08:36Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Child_StageAppInsightsTrace')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stage AppInsightsError",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"additionalColumns": [
									{
										"name": "FileName",
										"value": "$$FILEPATH"
									},
									{
										"name": "RunDate",
										"value": {
											"value": "@variables('RunDate')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"modifiedDatetimeStart": {
										"value": "@pipeline().parameters.DeltaDateTime",
										"type": "Expression"
									},
									"wildcardFolderPath": "AppInsightsTrace",
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['message']"
										},
										"sink": {
											"name": "message",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['customDimensions']"
										},
										"sink": {
											"name": "customDimensions",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['user_Id']"
										},
										"sink": {
											"name": "user_Id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['client_Model']"
										},
										"sink": {
											"name": "client_Model",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['client_OS']"
										},
										"sink": {
											"name": "client_OS",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['timestamp']"
										},
										"sink": {
											"name": "timestamp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['currentConferenceId']"
										},
										"sink": {
											"name": "currentConferenceId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['conference']"
										},
										"sink": {
											"name": "conference",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['participant']"
										},
										"sink": {
											"name": "participant",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['errorInformation']"
										},
										"sink": {
											"name": "errorInformation",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['HostInstanceId']"
										},
										"sink": {
											"name": "HostInstanceId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ProcessId']"
										},
										"sink": {
											"name": "ProcessId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['LogLevel']"
										},
										"sink": {
											"name": "LogLevel",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['pexipError']"
										},
										"sink": {
											"name": "pexipError",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['FileName']"
										},
										"sink": {
											"name": "FileName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['RunDate']"
										},
										"sink": {
											"name": "RunDate",
											"type": "DateTime"
										}
									}
								],
								"collectionReference": "$['value']"
							}
						},
						"inputs": [
							{
								"referenceName": "JsonAppInsightsTrace",
								"type": "DatasetReference",
								"parameters": {
									"Container": "vhreporting",
									"Folder": "AppInsightsTrace",
									"FileName": "2022-03-21T14:00:00Z"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "AsqlTarget",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "stg",
									"TableName": {
										"value": "@pipeline().parameters.TableName",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Truncate Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set RunDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[stg].[sp_TruncateStagingTable]",
							"storedProcedureParameters": {
								"tableName": {
									"value": {
										"value": "@pipeline().parameters.TableName",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "vhreporting_link",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "LoadTarget",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Stage AppInsightsError",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.ProcedureName",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "vhreporting_link",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Set RunDate",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "RunDate",
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Container": {
						"type": "string",
						"defaultValue": "vhreporting"
					},
					"Folder": {
						"type": "string",
						"defaultValue": "AppInsightsTrace"
					},
					"FileName": {
						"type": "string",
						"defaultValue": "2022-03-21T14:00:00Z"
					},
					"DeltaDateTime": {
						"type": "string",
						"defaultValue": "03/15/2022 00:00:00"
					},
					"TableName": {
						"type": "string",
						"defaultValue": "AppInsightsTrace"
					},
					"ProcedureName": {
						"type": "string",
						"defaultValue": "sp_LoadAppInsightsTrace"
					}
				},
				"variables": {
					"RunDate": {
						"type": "String",
						"defaultValue": "03/21/2022 18:26:00"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-12-13T14:08:37Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Daily_Purge_Data')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Master_PurgeData",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-05-06T06:45:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								45
							],
							"hours": [
								6
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Master_ErrorFile')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetConfig",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[sp_GetAdfConfig]",
								"storedProcedureParameters": {
									"MasterPipeline": {
										"type": "String",
										"value": "Master_ErrorFile"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AsqlTarget",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dbo",
									"TableName": "AdfConfig"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetConfig",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetConfig').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 4,
							"activities": [
								{
									"name": "StageAndLoad",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Child_StageAppInsightsError",
											"type": "PipelineReference"
										},
										"waitOnCompletion": false,
										"parameters": {
											"DeltaDateTime": {
												"value": "@{item().DeltaValue}",
												"type": "Expression"
											},
											"TableName": {
												"value": "@{item().TableName}",
												"type": "Expression"
											},
											"ProcedureName": {
												"value": "@{item().ProcedureName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-12-13T14:08:38Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Child_StageAppInsightsError')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Master_Staging')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetConfig",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[sp_GetAdfConfig]",
								"storedProcedureParameters": {
									"MasterPipeline": {
										"type": "String",
										"value": "Master_Staging"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AsqlTarget",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dbo",
									"TableName": "AdfConfig"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetConfig",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetConfig').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 4,
							"activities": [
								{
									"name": "StageAndLoad",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Child_AsqlToAsql",
											"type": "PipelineReference"
										},
										"waitOnCompletion": false,
										"parameters": {
											"TableName": {
												"value": "@{item().TableName}",
												"type": "Expression"
											},
											"ProcedureName": {
												"value": "@{item().ProcedureName}",
												"type": "Expression"
											},
											"ExtractSQL": {
												"value": "@{item().ExtractSQL}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-12-13T14:08:40Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Master_TraceFile')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetConfig",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[sp_GetAdfConfig]",
								"storedProcedureParameters": {
									"MasterPipeline": {
										"type": "String",
										"value": "Master_TraceFile"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AsqlTarget",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dbo",
									"TableName": "AdfConfig"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetConfig",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetConfig').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 4,
							"activities": [
								{
									"name": "StageAndLoad",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Child_StageAppInsightsTrace",
											"type": "PipelineReference"
										},
										"waitOnCompletion": false,
										"parameters": {
											"DeltaDateTime": {
												"value": "@{item().DeltaValue}",
												"type": "Expression"
											},
											"TableName": {
												"value": "@{item().TableName}",
												"type": "Expression"
											},
											"ProcedureName": {
												"value": "@{item().ProcedureName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-12-13T14:08:41Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Child_StageAppInsightsTrace')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Daily_App_Insights_Load')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Master_TraceFile",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-01-01T00:00:00Z",
						"timeZone": "UTC",
						"schedule": {
							"hours": [
								6
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Master_TraceFile')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Daily_VH_Video_Data_Load')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Master_Staging",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-01-01T00:00:00Z",
						"timeZone": "UTC",
						"schedule": {
							"hours": [
								6
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Master_Staging')]"
			]
		}
	]
}