pipeline/Child_StageAppInsightsError.json
{
		"activities": [
			{
				"name": "Stage AppInsightsError",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Truncate Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "FileName",
								"value": "$$FILEPATH"
							},
							{
								"name": "RunDate",
								"value": {
									"value": "@variables('RunDate')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@pipeline().parameters.DeltaDateTime",
								"type": "Expression"
							},
							"wildcardFolderPath": "AppInsightsError",
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['problemId']"
								},
								"sink": {
									"name": "ProblemId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['total_exceptions']"
								},
								"sink": {
									"name": "TotalExceptions",
									"type": "Byte"
								}
							},
							{
								"source": {
									"path": "$['FileName']"
								},
								"sink": {
									"name": "FileName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['RunDate']"
								},
								"sink": {
									"name": "RunDate",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['value']"
					}
				},
				"inputs": [
					{
						"referenceName": "JsonAppInsightsError",
						"type": "DatasetReference",
						"parameters": {
							"Container": {
								"value": "@pipeline().parameters.Container",
								"type": "Expression"
							},
							"Folder": {
								"value": "@pipeline().parameters.Folder",
								"type": "Expression"
							},
							"FileName": {
								"value": "@pipeline().parameters.FileName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AsqlTarget",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "stg",
							"TableName": "AppInsightsError"
						}
					}
				]
			},
			{
				"name": "Truncate Staging",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set RunDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[stg].[sp_TruncateStagingTable]",
					"storedProcedureParameters": {
						"tableName": {
							"value": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "vhreporting_link",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "LoadTarget",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Stage AppInsightsError",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "@pipeline().parameters.ProcedureName",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "vhreporting_link",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set RunDate",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "RunDate",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"Container": {
				"type": "string",
				"defaultValue": "vhreporting"
			},
			"Folder": {
				"type": "string",
				"defaultValue": "AppInsightsError"
			},
			"FileName": {
				"type": "string",
				"defaultValue": "2022-03-16T22%3A00%3A00.0000000"
			},
			"DeltaDateTime": {
				"type": "string",
				"defaultValue": "03/15/2022 00:00:00"
			},
			"TableName": {
				"type": "string",
				"defaultValue": "AppInsightsError"
			},
			"ProcedureName": {
				"type": "string",
				"defaultValue": "sp_LoadAppInsightsError"
			}
		},
		"variables": {
			"RunDate": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-04-25T13:14:06Z"
}