pipeline/Child_AsqlToAsql.json
{
	"name": "Child_AsqlToAsql",
	"properties": {
		"activities": [
			{
				"name": "Truncate Staging",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SetExtractSQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[stg].[sp_TruncateStagingTable]",
					"storedProcedureParameters": {
						"tableName": {
							"value": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "vhreporting_link",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SourceToStaging",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Truncate Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@variables('ExtractSQL')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AsqlSource",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AsqlTarget",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "stg",
							"TableName": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "LoadTarget",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SourceToStaging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "@pipeline().parameters.ProcedureName",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "vhreporting_link",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SetExtractSQL",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ExtractSQL",
					"value": {
						"value": "@concat('SELECT * FROM dbo.',pipeline().parameters.TableName)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"TableName": {
				"type": "string",
				"defaultValue": "Conference"
			},
			"ProcedureName": {
				"type": "string",
				"defaultValue": "sp_LoadConference"
			}
		},
		"variables": {
			"ExtractSQL": {
				"type": "String",
				"defaultValue": "SELECT * FROM dbo.Conference"
			}
		},
		"annotations": []
	}
}