pipeline/Master_ErrorFile.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "GetFiles",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": "2022-03-15T00:00:00.000Z",
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "JsonBlobStorage",
						"type": "DatasetReference",
						"parameters": {
							"Container": "vhreporting",
							"Folder": "2022-03-16",
							"FileName": "2022-03-16T22%3A00%3A00.0000000"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"batchCount": 8
				}
			}
		],
		"parameters": {
			"Container": {
				"type": "string",
				"defaultValue": "vhreporting"
			},
			"Folder": {
				"type": "string",
				"defaultValue": "2022-03-16"
			},
			"FileName": {
				"type": "string",
				"defaultValue": "2022-03-16T22%3A00%3A00.0000000"
			}
		},
		"annotations": []
	}
}