pipeline/Master_ErrorFile.json
{
	"name": "Master_ErrorFile",
	"properties": {
		"activities": [
			{
				"name": "GetConfig",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_GetAdfConfig]",
						"storedProcedureParameters": {
							"MasterPipeline": {
								"type": "String",
								"value": "Master_ErrorFile"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AsqlTarget",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": "AdfConfig"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetConfig",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetConfig').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 4,
					"activities": [
						{
							"name": "StageAndLoad",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Child_StageAppInsightsError",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false,
								"parameters": {
									"DeltaDateTime": {
										"value": "@{item().DeltaValue}",
										"type": "Expression"
									},
									"TableName": {
										"value": "@{item().TableName}",
										"type": "Expression"
									},
									"ProcedureName": {
										"value": "@{item().ProcedureName}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-12-13T14:08:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}